<main class="main-category row m-0">
    <section class="section-main">
        <header class="header">
            <section class="container-header">
                <p class="title-category m-0">Lista de categorias</p>
            </section>
        </header>
        <article class="header-buttons row">
            <section class="container-btn col-12">
                <button class="button">
                    <p class="txt-btn m-0">Agragar categoría</p>
                </button>
            </section>
        </article>
        <nav class="nav-titles-category">
            <section class="container-tiles-category row">
                <aside class="col-4">
                    <p class="m-0 text">Nombre categoría</p>
                </aside>
                <aside class="col-4">
                    <p class="m-0 text">Tipo de categoría</p>
                </aside>
                <aside class="col-4">
                    <p class="m-0 text">Acciones</p>
                </aside>
            </section>
        </nav>
    </section>
</main>