<main class="main-category row m-0">
    <section class="section-main">
        <header class="header">
            <section class="container-header">
                <p class="title-category m-0">Productos</p>
            </section>
        </header>
        <article class="header-buttons row">
            <section class="container-btn col-12">
                <button class="button" (click)="addProducts()">
                    <p class="txt-btn m-0">Agragar producto</p>
                </button>
            </section>
        </article>
        <nav class="nav-titles-category">
            <section class="container-tiles-category row">
                <aside class="col-4">
                    <p class="m-0 text">Nombre de productos</p>
                </aside>
                <aside class="col-2">
                    <p class="m-0 text">cantidad</p>
                </aside>
                <aside class="col-2">
                    <p class="m-0 text">Precio</p>
                </aside>
                <aside class="col-4">
                    <p class="m-0 text">Acciones</p>
                </aside>
            </section>
        </nav>
        <table class="table-container">
            <tbody></tbody>
        </table>
    </section>
</main>