//contenedores

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.header{
    height: 60px;
    margin-top: 5px;
}

tr{
    text-align: center;
    align-items: center;
    height: 50px;
}

input{
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    height: 37px;
    width: 100%;
}

//buttons

.button{
    background-color: #0771c0;
    width: 157px;
    height: 43px;
    border-radius: 7px;
    border: none;
}

.btn-action{
    height: 37px;
    width: 96%;
    border: none;
    border-radius: 5px;
    color: white;
}

.btn-save{
    background-color: #0771c0;
}

.btn-delete{
    background-color: #b71e37;
}

// textos

.txt-btn{
    color: white;
}

.text{
    font-family: 'Poppins', sans-serif;
}

.title-category{
    padding: 0 0 0.5rem 1rem;
    font-size: 1.5rem;
}